/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 100px; /* Add a margin to the container to create space between sections and footer */
}

h2 {
    color: #333;
}

/* Section Styles */
.section {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.95rem;
    }

    .section {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }

    ul {
        margin-left: 15px;
    }

    .section {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.85rem;
    }

    .section {
        padding: 5px;
    }
}
